<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="197000073"
    android:versionName="1.97.00.0073">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="33" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/d1sw_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="DeltaOne Software">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HoneywellHomeActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Home">
            <intent-filter>
                <action android:name="android.intent.action.HONEYHOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZebraHomeActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Home">
            <intent-filter>
                <action android:name="android.intent.action.ZEBRAHOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScannerSelectionBarcodeActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Scanner Select">
            <intent-filter>
                <action android:name="android.intent.action.SCANNERSELECTBARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HoneywellScanActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Scan Screen">
            <intent-filter>
                <action android:name="android.intent.action.HONEYSCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZebraScanActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Scan Screen">
            <intent-filter>
                <action android:name="android.intent.action.ZEBRASCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnalysisActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Analysis">
            <intent-filter>
                <action android:name="android.intent.action.ANALYSIS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Settings">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BarcodeTypeActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ Home">
            <intent-filter>
                <action android:name="android.intent.action.BARCODETYPE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name = ".ZebraRFIDActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ RFID">
            <intent-filter>
                <action android:name = "android.intent.action.ZEBRARFIDSELECTACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name = ".HoneyWellRFIDActivity"
            android:exported="true"
            android:label="DeltaOne Software ~ RFID">
            <intent-filter>
                <action android:name = "android.intent.action.HONEYWELLRFIDSELECTACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


    </application>

</manifest>